//mixin//
@mixin navBar ($font-s, $color){
    font-size: $font-s;
    background-color: $color;
}


//incia nav//

nav{
    background-color: $second-color-background;

    div{
        li{
            @include navBar(2rem,$second-color-background );
        }
        li:hover{
            color:white;
            text-shadow: 1px 1px 2px black
        }
    }
}