//colores
$color-background:rgb(151, 219, 174);
$second-color-background:rgb(195, 229, 174);
$third-color-background:rgb(241, 225, 166);
$fourth-color-background:rgb(244, 187, 187);
//font
$font-pacifico: Pacifico;