@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Lalezar&family=Satisfy&family=Send+Flowers&family=Source+Code+Pro:wght@300&display=swap");
* {
  font-family: 'Caveat', cursive;
  padding: 0;
  margin: 0; }

.animaciones:hover {
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px); }

.letras, .textos {
  font-size: 3rem;
  font-family: 'Satisfy', cursive;
  color: black; }

header {
  background-color: #97dbae; }
  header div span:hover {
    color: white;
    text-shadow: 1px 1px 2px black; }

nav {
  background-color: #c3e5ae; }
  nav div li {
    font-size: 2rem;
    background-color: #c3e5ae; }
  nav div li:hover {
    color: white;
    text-shadow: 1px 1px 2px black; }

.carousel-inner {
  max-height: 50rem; }

button a {
  text-decoration: none;
  color: black; }

button a:hover {
  color: white; }

footer {
  background-color: #f4bbbb; }

footer div h3 {
  font-size: 3rem; }
  footer div h3 a {
    text-decoration: none;
    color: white; }
  footer div h3 a:hover {
    color: black; }

.logo-arriba {
  width: 95px; }

.container-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  height: 100vh; }
  .container-404 img {
    width: 50%; }
  .container-404 h1 {
    color: red;
    text-align: center;
    font-size: 4rem; }
  .container-404 div button {
    font-size: 2rem;
    padding: 10px 30px;
    margin: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
    background: #eb4f4f; }
    .container-404 div button a {
      text-decoration: none;
      color: white; }
    .container-404 div button a:hover {
      color: black; }
